APP_NAME = "Tonka Astro"
APP_ENV = development 
APP_KEY = Generate a new key using `php tonka key:generate
APP_DEBUG = false
APP_URL = http://localhost:8000
ASSET_URL = http://localhost:5173

DB_CONNECTION = mysql
DB_HOST = localhost
DB_PORT = 3306
DB_NAME = ''
DB_USER = ''
DB_PASSWORD = ''
DB_TABLE_PREFIX = ''

MAIL_MAILER = 'smtp'
MAIL_HOST = 'host'
MAIL_PORT = 587
MAIL_CHARSET = 'UTF-8'
MAIL_ENCODING = 'base64'
MAIL_USERNAME = ''
MAIL_PASSWORD = ''
MAIL_ENCRYPTION = 'ssl'
MAIL_FROM_ADDRESS = ''
MAIL_FROM_NAME = ${APP_NAME}

MERCURE_JWT_SECRET = ''
MERCURE_HUB_URL = 'http://localhost:3000/.well-known/mercure'
